
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    padding: 0;
}
.app-bar {
    height: 4em;
    background-color: #6200ea;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

.app-bar-2 {
    height: 4em;
    background-color: #6200ea;
    color: white;
    display: flex;
    padding: 0 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 4em;
    z-index: 10;
    width: 100%;
}

.menu-button {
    margin-right: 0.5em;
    font-size: 2em;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.menu-button.open {
    transform: rotate(90deg);
}

.icono-atras{
    color: aqua;
    font-size: 2em;
    margin-right: 0.5em;

}

.drawer {
    position: fixed;
    top: 0;
    left: -250px;
    height: calc(100%);
    width: 250px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
}

.drawer-header{
    width: 100%;
    height: 8em;
    background-color: blue;
    text-align: center;
    padding: 0.3em 0.2em;
}
.drawer.open {
    left: 0;
}
.drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.drawer li {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.drawer li a {
    text-decoration: none;
    color: white;
    display: block;
    background-color: blue;
    align-items: center;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 1em;
    width: auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}
.overlay.active {
    display: block;
}

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 35px 20px;
    background-color: #f9f9f9;
    position: fixed;
    top: 8em;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

/* Contenedor principal para las otras vistas */
.contenedor-principal-2 {
    padding: 20px;
    background-color: #f9f9f9;
    position: fixed;
    top: 4em;
    width: 100%;
    height: 92%;
    overflow-y: auto;
    text-align: center;
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}



/*disenio personalizado para cantidad palabras*/
.container {
    display: flex;
    flex-direction: column; /* Para poner el círculo encima del rectángulo */
    align-items: center; /* Para centrar horizontalmente */
    transform: rotate(180deg); /* Invertir*/
    position: relative;
    top: -1.8em;
}

.circle-container {
    display: flex;
    justify-content: center;
}

.circle {
    width:6em;
    height: 2em;
    background-color: blue;  /* Color de fondo del círculo */
    border-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  /* Establecer para poder posicionar texto */
    
}

.circle-text {
    color: #fafafb;  /* Color del texto */
    font-size: 0.9em; /* Tamaño del texto */
    text-align: center;
    word-break: break-word;
    display: block;
    padding: 0px;
    transform: rotate(180deg); 
}

.rectangle {
    width: 12em;
    height: 1.5em;
    background-color: blue; /* Color de fondo del rectángulo */
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.rectangle-text {
    color: #ffffff; /* Color del texto */
    font-size: 0.9em;
    text-align: center;
    word-break: break-word;
    display: block;
    padding: 0px;
    transform: rotate(180deg); 
}