/* Estilos generales */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.app-bar.dark-mode {
    background-color: #333;
}

/* Estilos del app-bar-2 */

.app-bar-2.dark-mode {
    background-color: #333;
}

/* Estilos para el contenedor principal */

.contenedor-principal.dark-mode {
    background-color: #212121;
    color: #f0f0f0;
}

.contenedor-principal-2.dark-mode {
    background-color: #212121;
    color: #f0f0f0;
}


/* Estilos para el cajon lateral */
.drawer.dark-mode {
    background-color: #292626;
    color: #f0f0f0;
}

.drawer-header.dark-mode {
     border-bottom: 1px solid #b1afaf;
     background-color: #333;
}

.drawer.dark-mode ul li a{
    color: #f0f0f0;
    background-color: #715858;
}

.drawer.dark-mode ul li a:hover{
    background-color: #555;
}

/* Estilos para el theme-switcher */
.theme-switcher {
    position: absolute;
    bottom: 1em;
    left: 1em;
    display: flex;
    align-items: center;
}

.theme-icon {
    width: 2em;
    height: 2em;
    margin-right: 0.6em;
    transition: color 0.3s ease;
    position: relative;
    bottom: 0.2em;
}

.theme-switcher.dark-mode .theme-icon{
    color: #f0f0f0;
}


/* Estilo del interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* Nuevos estilos para botones en la vista de favoritos */

#vaciarbtn{
    cursor: pointer;
}

.icono-atras{
    cursor: pointer;
    font-size: 1.5em;
    padding: 0.4em;
    margin-right: 0.5em;
}

.contenedor-resultado {
    background: #fff;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /*transition: background-color 0.3s ease, color 0.3s ease;*/
}

.contenedor-resultado.dark-mode{
     background: #292929;
}

.contenedor-resultado h3 {
    margin-bottom: 0.5em;
}

.contenedor-resultado p {
    margin-bottom: 0.5em;
}
.contenedor-resultado a{
    text-decoration: none;
    color: blue;
}
.contenedor-resultado.dark-mode a{
    color: aqua;
}

.contenedor-resultado .fav-btn {
    background: none;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    transition: color 0.3s ease;
    float: right;
}

.contenedor-resultado.dark-mode .fav-btn{
    color: white;
}

.contenedor-resultado .fav-btn:hover {
    color: #e74c3c; /* Color al hacer hover */
}

.contenedor-resultado.dark-mode .fav-btn:hover{
    color: #e74c3c;
}



.rectangle.dark-mode{
    background-color: #333;
    color: #f0f0f0;
}


.rectangle.dark-mode .rectangle-text {
    color: #f0f0f0; /* Cambia el color del texto en modo oscuro */
}

.circle.dark-mode{
    background-color: #333;
    color: #f0f0f0;
}


.circle.dark-mode .circle-text {
    color: #f0f0f0; /* Cambia el color del texto en modo oscuro */
}


/* Estilo para el icono de busqueda */
.input-group i{
   pointer-events: none;
}