*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
	padding-top: 3.6em;
	padding-bottom: 5px;
	background-color: #ECF0F5;
}

 /* reglas para quitar los estilos agredados por bootstrap a los enlaces*/
a{
	text-decoration: none;
	color: #282923;
}

a:hover{
	text-decoration: none;
	color: #282923;
}

a:link{
	text-decoration: none;
	color: #282923;
}

a:visited{
	color: #282923;
}
/*Fin*/

#mostrarM{
	z-index: 1;
	color: #fff;
	position: fixed;
	left: -3.8em;
	top: 3.4em;
	width: 5.2em;
	height: 100%;
	background-color:rgba(0,0,0,0);
	float: left;
	}

#menu-close{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2000vh;
	z-index: -1;
	
}

.plisticon{
	font-size: 1.2em;
	position: relative;
	margin-right: 0.8em;
	color: #021e53;
	top: 0.1em;
}

.sublisticon{
	font-size: 0.6em;
	position: relative;
	top: -0.2em;
}

#linkcv{
Color:#000;
font-size:1.5em;
position:fixed;
bottom:-300px;
	
}


/*Estilos Para telefonos Smartphone*/
@media screen and (min-width: 220px) and (max-width:729px){ 
	
.encabezado{
	z-index: 5;
    height: 3.4em;
	width: 100%;
	background-color:#170545;
	position: fixed;
	top: 0;
}

.titulo{
	font-family: arial;
	margin-left: 40px;
	margin-top: -2px;
	color: #ffffff;
	font-size: 1.5em;
}

#contendorPCV{
	box-shadow: 0em 0em 1em #282923;
	margin: 1em auto;
	border-top-left-radius: 3em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 1em;
	width: 94%;
	background-color:#ffffff;
}

#topbar{
	background-color: red;
	height: 3em;
	width: 100%;
	border-top-left-radius: 3em;
	border-top-right-radius: 1em;
}

#bottombar{
	background-color: red;
	height: 3em;
	width: 100%;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 1em;
}


#nombre{
	font-size: 1.3em;
	font-weight: 700;
	text-align: center;
	padding-left: 0.3em;
	padding-top: 0.3em;
}

.sectionhead{
	display: inline-block;
	font-weight: 600;
	border-bottom: 1px solid #000;
	margin-bottom: 1em;
	font-size: 1.2em;
}


.dptitle{
  font-weight: 700;
  text-align: left;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;

}
.dpdescription{
  padding-left: 0.3em;
  margin-bottom: 0.3em;
  font-size: 1.1em;
}



/*Menu lateral*/
.menu-lateral{
	z-index: 4;
	color: #fff;
	transition: all 300ms;
	position: fixed;
	left: -100%;
	top: 45px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
	float: left;	
}

.aside-content-header{
	width: 100%;
	max-width: 230px;
	height: 110px;
}




/*Acordeon*/
ul {
	list-style-type: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/

 .accordion {
 	width: 100%;
 	max-width: 230px;
 	background-color: #FAFAFA;
 	height: 100%;
 	overflow-y: auto;
 	padding-bottom: 90px;

 }

.accordion .link {
	text-decoration: none;
	cursor: pointer;
	display: block;
	padding: 12px 12px 12px 35px;
	color: #282923;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-bottom: 1px solid rgba(20,20,20,.5);
}

.accordion li i {
	color: #0358A9;
	position: absolute;
	top: 13px;
	left: 7px;
	font-size: 18px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/*Fin Acordeon*/


#mostrar-menu{
	z-index: 10000;
	position: fixed;
	color: #C4E3E8;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 7px;
	margin-left: 5px;
}


#atras{
	z-index: 10000;
	position: fixed;
	color: #000;
	font-size: 25px;
	margin-top: 9px;
	margin-right: 7px;
	margin-left: 5px;
}


/*Estilo q muestra el menu lateral oculto*/
.mostrar-menu{
	left: 0px;
}



.ico{
	color: #0358A9;
	margin-top: 4px;
	margin-right: 8px;
}


}
/*Fin*/


/*Estilos Para Tablets y Pc portatiles pequeños*/
@media screen and (min-width:730px ) and (max-width:1024px ){

.encabezado{
	z-index: 5;
    height: 3.4em;
	width: 100%;
	background-color:#170545;
	position: fixed;
	top: 0;
}

.titulo{
	font-family: arial;
	margin-left: 40px;
	margin-top: -2px;
	color: #ffffff;
	font-size: 1.5em;
	
}

#contendorPCV{
	
	box-shadow: 0em 0em 1em #282923;
	margin: 1em auto;
	border-top-left-radius: 3em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 1em;

	width: 80%;
	background-color: #ffffff;
}

#topbar{
	background-color: red;
	height: 3em;
	width: 100%;
	border-top-left-radius: 3em;
	border-top-right-radius: 1em;
}

#bottombar{
	background-color: red;
	height: 3em;
	width: 100%;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 1em;
}

#nombre{
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	padding-left: 0.3em;
	padding-top: 0.3em;
}

.sectionhead{
	display: inline-block;
	font-weight: 600;
	border-bottom: 1px solid #000;
	margin-bottom: 1em;
	font-size: 1.2em;
}


.dptitle{
	font-weight: 700;
	text-align: left;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
  
  }
  .dpdescription{
	padding-left: 0.3em;
	margin-bottom: 0.3em;
	font-size: 1.1em;
  }


/*Menu lateral*/
.menu-lateral{
	z-index: 4;
	color: #fff;
	transition: all 300ms;
	position: fixed;
	left: -100%;
	top: 45px;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
	float: left;	
}

.aside-content-header{
	width: 100%;
	max-width: 320px;
	height: 110px;
}


/*Acordeon*/
ul {
	list-style-type: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/

 .accordion {
 	width: 100%;
 	max-width: 320px;
 	background-color: #FAFAFA;
 	height: 100%;
 	overflow-y: auto;
 	padding-bottom: 90px;
 }

.accordion .link {
	text-decoration: none;
	cursor: pointer;
	display: block;
	padding: 12px 12px 12px 35px;
	color: #282923;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-bottom: 1px solid rgba(20,20,20,.5);
}

.accordion li i {
	color: #0358A9;
	position: absolute;
	top: 13px;
	left: 7px;
	font-size: 18px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/*Fin Acordeon*/


#mostrar-menu{
	z-index: 10000;
	position: fixed;
	color: #C4E3E8;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 7px;
	margin-left: 5px;
}


#atras{
	z-index: 10000;
	position: fixed;
	color: #000;
	font-size: 25px;
	margin-top: 9px;
	margin-right: 7px;
	margin-left: 5px;
}


/*Estilo q muestra el menu lateral oculto*/
.mostrar-menu{
	left: 0px;
}

.ico{
	color: #0358A9;
	margin-top: 4px;
	margin-right: 8px;
}


}
/*Fin*/



/*Estilos Para Pc o dispositivos grandes*/ 
@media screen and (min-width:1025px) and (max-width:6000px){


.encabezado{
	z-index: 5;
    height: 3.4em;
	width: 100%;
	background-color:#170545;
	position: fixed;
	top: 0;
}

.titulo{
	font-family: arial;
	margin-left: 40px;
	margin-top: -2px;
	color: #ffffff;
	font-size: 1.5em;
	
}

#contendorPCV{
	box-shadow: 0em 0em 1em #282923;
	margin: 1em auto;
	border-top-left-radius: 3em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 1em;
	width: 60%;
	background-color: #ffffff;
}

#topbar{
	background-color: red;
	height: 3em;
	width: 100%;
	border-top-left-radius: 3em;
	border-top-right-radius: 1em;
}

#bottombar{
	background-color: red;
	height: 3em;
	width: 100%;
	border-bottom-right-radius: 3em;
	border-bottom-left-radius: 1em;
}

#nombre{
	font-size: 1.7em;
	font-weight: 700;
	text-align: center;
	padding: 1em;
}

.sectionhead{
	display: inline-block;
	font-weight: 600;
	border-bottom: 1px solid #000;
	margin-bottom: 1em;
	font-size: 1.2em;
}

.dptitle{
	font-weight: 700;
	text-align: left;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
  
  }
  .dpdescription{
	padding-left: 0.3em;
	margin-bottom: 0.3em;
	font-size: 1.1em;
  }

/*Menu lateral*/
.menu-lateral{
	z-index: 4;
	color: #fff;
	transition: all 300ms;
	position: fixed;
	left: -100%;
	top: 45px;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0);
	float: left;	
}

.aside-content-header{
	width: 100%;
	max-width: 320px;
	height: 110px;
}

/*Acordeon*/
ul {
	list-style-type: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/

 .accordion {
 	width: 100%;
 	height: 100%;
 	max-width: 320px;
 	background-color: #FAFAFA;
 	overflow-y: auto;
 	padding-bottom: 90px;
 }

.accordion .link {
	text-decoration: none;
	cursor: pointer;
	display: block;
	padding: 12px 12px 12px 35px;
	color: #282923;
	font-size: 17px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-bottom: 1px solid rgba(20,20,20,.5);
}

.accordion li i {
	color: #0358A9;
	position: absolute;
	top: 13px;
	left: 7px;
	font-size: 18px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/*Fin Acordeon*/

#mostrar-menu{
	z-index: 10000;
	position: fixed;
	color: #C4E3E8;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 7px;
	margin-left: 5px;
}

#atras{
	z-index: 10000;
	position: fixed;
	color: #000;
	font-size: 25px;
	margin-top: 9px;
	margin-right: 7px;
	margin-left: 5px;
}


/*Estilo q muestra el menu lateral oculto*/
.mostrar-menu{
	left: 0px;
}


.ico{
	color: #0358A9;
	margin-top: 4px;
	margin-right: 8px;
}


}

/*Fin*/
